*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body {
	background-color:#f3db9e;
}
.container{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
#scale{
	z-index: -1;
}
#scale-counter{
	width: 100%;
	display: flex;
	position: absolute;
	left: 30%;
	justify-content: center;
}
#T1, #T2, #T3, #T4, #B1, #B2, #B3, #B4{
	z-index: -1;
	width: 10%;
	height: 60%;
}
#T1{
	position: absolute;
	left: -25%;
	top: -10%;
	justify-content: center;
}
#T2{
	position: absolute;
	left: -15%;
	top: -10%;
	justify-content: center;
}
#T3{
	position: absolute;
	left: -5%;
	top: -10%;
	justify-content: center;
}
#T4{
	position: absolute;
	left: 5%;
	top: -10%;
	justify-content: center;
}
#B1{
	position: absolute;
	left: -25%;
	top: 60%;
	justify-content: center;
}
#B2{
	position: absolute;
	left: -15%;
	top: 60%;
	justify-content: center;
}
#B3{
	position: absolute;
	left: -5%;
	top: 60%;
	justify-content: center;
}
#B4{
	position: absolute;
	left: 5%;
	top: 60%;
	justify-content: center;
}
#increment-btnR{
	height: 50px;
    	width: 120px;
    	padding: 0 40px;
    	border-radius: 10px;
   	font-size: 40px;
    	background-color: #2e8d46;
    	border: 2px solid #2e8d46;
    	color: white;
    	margin: 20px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(55%, 500%);
}
#counter-valueR{
	z-index: 1;
	color:#FFFFFF;
	height: 50px;
	min-width: 120px;
	margin-top: 20px;
	font-size: 30px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(170%, 80%);
}
#increment-btnL{
	height: 50px;
    	width: 120px;
    	padding: 0 40px;
    	border-radius: 10px;
   	font-size: 40px;
    	background-color: #2e8d46;
    	border: 2px solid #2e8d46;
    	color: white;
    	margin: 20px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-180%, 500%);
}
#counter-valueL{
	z-index: 1;
	color:#FFFFFF;
	height: 50px;
	min-width: 120px;
	margin-top: 20px;
	font-size: 30px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-182.5%, 80%);
}
.attack, .health{
	z-index: 1;
	color:#FFFFFF;
	height: 50px;
	min-width: 120px;
	margin-top: 20px;
	font-size: 30px;
}
#counter-valueT1A{
	position: absolute;
	top: 25%;
  	left: -23.5%;
}
#counter-valueT2A{
	position: absolute;
	top: 25%;
  	left: -13.5%;
}
#counter-valueT3A{
	position: absolute;
	top: 25%;
  	left: -3.5%;
}
#counter-valueT4A{
	position: absolute;
	top: 25%;
  	left: 6.5%;
}
#counter-valueT1H{
	position: absolute;
	top: 36%;
  	left: -17.3%;
}
#counter-valueT2H{
	position: absolute;
	top: 36%;
  	left: -7.3%;
}
#counter-valueT3H{
	position: absolute;
	top: 36%;
  	left: 2.7%;
}
#counter-valueT4H{
	position: absolute;
	top: 36%;
  	left: 12.7%;
}
#counter-valueB1A{
	position: absolute;
	top: 95%;
  	left: -23.5%;
}
#counter-valueB2A{
	position: absolute;
	top: 95%;
  	left: -13.5%;
}
#counter-valueB3A{
	position: absolute;
	top: 95%;
  	left: -3.5%;
}
#counter-valueB4A{
	position: absolute;
	top: 95%;
  	left: 6.5%;
}
#counter-valueB1H{
	position: absolute;
	top: 106%;
  	left: -17.3%;
}
#counter-valueB2H{
	position: absolute;
	top: 106%;
  	left: -7.3%;
}
#counter-valueB3H{
	position: absolute;
	top: 106%;
  	left: 2.7%;
}
#counter-valueB4H{
	position: absolute;
	top: 106%;
  	left: 12.7%;
}
.change-button{
	height: 50px;
    	width: 120px;
    	padding: 0 40px;
    	border-radius: 10px;
   	font-size: 40px;
    	background-color: #2e8d46;
    	border: 2px solid #2e8d46;
    	color: white;
    	margin: 20px;
}