*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body {
	background-color:#f3db9e;
}
.container{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
#scale{
	z-index: -1;
}
#scale-counter{
	width: 100%;
	display: flex;
	position: absolute;
	left: 30%;
	justify-content: center;
}
#card-counterTOP{
	width: 100%;
	display: flex;
	position: absolute;
	left: -15%;
	top: 20%;
	justify-content: center;
}
#card-counterBOTTOM{
	width: 100%;
	display: flex;
	position: absolute;
	left: -15%;
	top: 60%;
	justify-content: center;
}
#increment-btnR{
	height: 50px;
    	width: 120px;
    	padding: 0 40px;
    	border-radius: 10px;
   	font-size: 40px;
    	background-color: #2e8d46;
    	border: 2px solid #2e8d46;
    	color: white;
    	margin: 20px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(55%, 500%);
}
#counter-valueR{
	z-index: 1;
	color:#696969;
	height: 50px;
	min-width: 120px;
	margin-top: 20px;
	font-size: 30px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(170%, 50%);
}
#increment-btnL{
	height: 50px;
    	width: 120px;
    	padding: 0 40px;
    	border-radius: 10px;
   	font-size: 40px;
    	background-color: #2e8d46;
    	border: 2px solid #2e8d46;
    	color: white;
    	margin: 20px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-180%, 500%);
}
#counter-valueL{
	z-index: 1;
	color:#696969;
	height: 50px;
	min-width: 120px;
	margin-top: 20px;
	font-size: 30px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-182.5%, 50%);
}