*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.container{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.counter{
	width: 100%;
	display: flex;
	justify-content: center;
}
#increment-btnR{
	height: 50px;
    	width: 120px;
    	padding: 0 40px;
    	border-radius: 10px;
   	font-size: 40px;
    	background-color: #2e8d46;
    	border: 2px solid #2e8d46;
    	color: white;
    	margin: 20px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(55%, 500%);
}
#decrement-btnR{
	height: 50px;
    	width: 120px;
    	padding: 0 40px;
    	border-radius: 10px;
   	font-size: 40px;
    	background-color: #2e8d46;
    	border: 2px solid #2e8d46;
    	color: white;
    	margin: 20px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(180%, 500%);
}
#counter-valueR{
	height: 50px;
	min-width: 120px;
	margin-top: 20px;
	font-size: 30px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(172%, 50%);
}
#counter-valueL{
	height: 50px;
	min-width: 120px;
	margin-top: 20px;
	font-size: 30px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-172%, 50%);
}